.App {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer div{
  text-align: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button:first-child{
  padding-left: 0;
}
button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
.active{
  background-color: green;
  color: #fff;
}